@import url('https://fonts.cdnfonts.com/css/saved-by-zero');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'alien_leagueregular';
    src: url('font-kits/alienleague-webfont.woff2') format('woff2'), url('font-kits/alienleague-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alien_league_boldbold';
    src: url('font-kits/alienleaguebold-webfont.woff2') format('woff2'), url('font-kits/alienleaguebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alien_league_condensedCn';
    src: url('font-kits/alienleaguecond-webfont.woff2') format('woff2'), url('font-kits/alienleaguecond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saved_by_zeroregular';
    src: url('font-kits/saved_by_zero_rg-webfont.woff2') format('woff2'), url('font-kits/saved_by_zero_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-0: #FFFFFF;
    --primary-10: #D0D0D0;
    --primary-60: #151616;
    --primary-50: #3C3D3D;
    --display-text: 'saved_by_zeroregular';
    --alien-regular: 'alien_leagueregular';
    --alien-bold: 'alien_league_boldbold';
    --alien-condensed: 'alien_league_condensedCn';
    --lato: 'Lato';
    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-28: 28px;
    --text-32: 32px;
    --text-40: 40px;
    --text-48: 48px;
    --text-56: 56px;
    --text-64: 64px;
    --text-72: 72px;
    --text-80: 80px;
}

.dark-bg {
    background-color: var(--primary-60);
}

.light-bg {
    background-color: var(--primary-0);
}

.dark-text {
    color: var(--primary-60);
}

.light-text {
    color: var(--primary-0);
}

.icon-light {
    fill: var(--primary-0);
}

.icon-dark {
    fill: var(--primary-60);
}

.display-text {
    font-family: var(--display-text);
}

.alien-regular {
    font-family: var(--alien-regular);
}

.alien-bold {
    font-family: var(--alien-bold);
}

.alien-condensed {
    font-family: var(--alien-condensed);
}

.lato-text {
    font-family: var(--lato);
}

.dark-btn:hover {
    background-color: var(--primary-50);
    transition: all 0.3s;
}

.light-btn:hover {
    background-color: var(--primary-10);
    transition: all 0.3s;
}

@media(min-width:769px) {
    .text-desk-16 {
        font-size: var(--text-16);
    }
    .text-desk-18 {
        font-size: var(--text-18);
    }
    .text-desk-20 {
        font-size: var(--text-20);
    }
    .text-desk-24 {
        font-size: var(--text-24);
    }
    .text-desk-28 {
        font-size: var(--text-28);
    }
    .text-desk-32 {
        font-size: var(--text-32);
    }
    .text-desk-48 {
        font-size: var(--text-48);
    }
    .text-desk-56 {
        font-size: var(--text-56);
    }
    .text-desk-64 {
        font-size: var(--text-64);
    }
    .text-desk-72 {
        font-size: var(--text-72);
    }
    .text-desk-80 {
        font-size: var(--text-80);
    }
    .hero-banner {
        background: linear-gradient(rgba(21, 22, 22, 0.6), rgba(21, 22, 22, 0.6)), url(images/blob-lines.png) no-repeat;
        background-size: cover;
    }
    .responsive-screens {
        height: 417.27px;
        width: 674px;
    }
    .logo-30 {
        height: 120px;
        width: 170px;
    }
    .on-light-bg {
        background: url(images/on-light-bg.png) no-repeat, linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 1.0));
        background-size: cover;
    }
    .on-dark-bg {
        background: linear-gradient(rgba(21, 22, 22, 0.6), rgba(21, 22, 22, 0.6)), url(images/on-dark-bg.png) no-repeat;
        background-size: cover;
    }
    .role-row-bg {
        height: 48px;
    }
    .role-content {
        position: relative;
        height: 44px;
        width: 137px;
        right: 14%;
        top: -10%;
    }
    .role-bg {
        height: 44px;
        width: 137px;
    }
    .roles-section {
        border-left: solid 1px var(--primary-60);
    }
    .figma {
        display: block;
    }
    .adobe {
        display: block;
    }
    #dots {
        display: none;
    }
    #readMore {
        display: none;
    }
    .goal-card-bg {
        height: 450px;
        /* width: auto; */
    }
    .goal-number-bg {
        width: 134px;
        height: 134px;
        padding: 24px 32px;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 70px;
        background: var(--neutral-10, #FFF);
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        top: 50%;
        right: 0%;
        z-index: 50;
    }
    .goal-desc-bg {
        width: 424px;
        height: 284px;
        padding: 10px 24px;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: radial-gradient(54.18% 28.8% at 50% 111.2%, rgba(255, 255, 255, 0.20) 7.25%, rgba(255, 255, 255, 0.02) 95.43%), linear-gradient(0deg, rgba(128, 128, 128, 0.30) 0%, rgba(128, 128, 128, 0.30) 100%), rgba(0, 0, 0, 0.20);
        background-blend-mode: normal, luminosity, normal;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(50px);
        z-index: 20;
    }
    .goal-shape {
        fill: rgba(255, 255, 255, 0.80);
        width: 160px;
        height: 138px;
        flex-shrink: 0;
        position: relative;
        bottom: 70.5%;
        right: 0%;
        z-index: 0;
    }
    .color-1-row-bg {
        height: 300px;
        width: auto;
    }
    .color-1-content {
        position: relative;
        height: 284px;
        width: 304px;
        right: 7%;
        top: -3%;
        border-radius: 32px;
    }
    .color-1-bg {
        height: 284px;
        width: 304px;
        border-radius: 32px;
    }
    .color-1-bottom-content {
        background-color: #D0D0D0;
        border-top: solid 2px var(--primary-60);
        padding: 16px 24px;
        border-radius: 0px 0px 32px 32px;
    }
    .button-dark-bg {
        background-color: #F5F5F5;
        padding: 24px;
        width: 520px;
        border-radius: 24px;
    }
    .button-light-bg {
        background-color: var(--primary-60);
        padding: 24px;
        width: 520px;
        border-radius: 24px;
    }
    .button-bg {
        padding: 12px 24px;
    }
    .desktop-video-bg {
        background: url(images/desktop-bg.png) no-repeat;
        background-size: cover;
        width: 733.45px;
        height: 420px;
    }
    .desktop-video {
        position: relative;
        right: -11%;
        top: 4%;
        width: 558.45px;
        height: 352.33px;
        /* height: 500px; */
        object-fit: cover;
    }
    .mobile-video {
        width: 201px;
        height: 408px;
        border-radius: 32px;
    }
    .sol-1-row,
    .sol-2-row,
    .sol-3-row,
    .sol-4-row {
        border: none;
    }
    .heading-row-bg {
        height: 48px;
    }
    .heading-content {
        position: relative;
        height: 44px;
        width: 137px;
        right: 14%;
        top: -10%;
    }
    .heading-bg {
        height: 44px;
        width: 137px;
    }
    .video-row-bg {
        height: 332px;
    }
    .video-content {
        position: relative;
        height: 316.94px;
        width: 612.33px;
        right: 4%;
        top: -4%;
        border-radius: 16px;
        object-fit: cover;
    }
    .video-bg {
        height: 316.94px;
        width: 612.33px;
        border-radius: 16px;
    }
    .sol-1-wrong-video {
        /* height: 312px; */
        width: 100%;
        border-radius: 16px;
        object-fit: cover;
    }
    .reason-before-row-bg {
        height: 120px;
    }
    .reason-before-content {
        position: relative;
        height: 100px;
        width: 616px;
        right: 3.5%;
        top: -9.5%;
        background-color: #FFEFEF;
        border: solid 1px #CD1313;
        border-radius: 8px;
    }
    .reason-before-bg {
        background-color: #CD1313;
        color: #CD1313;
        height: 100px;
        width: 616px;
        border-radius: 8px;
    }
    .reason-after-row-bg {
        height: 120px;
    }
    .reason-after-content {
        position: relative;
        height: 100px;
        width: 616px;
        right: 3.5%;
        top: -9.5%;
        background-color: #EEFBF4;
        border: solid 1px #0A7120;
        border-radius: 8px;
    }
    .reason-after-bg {
        background-color: #0A7120;
        color: #0A7120;
        height: 100px;
        width: 616px;
        border-radius: 8px;
    }
    #accordion1,
    #accordion2,
    #accordion3,
    #accordion4 {
        display: none;
    }
    .what-i-learned-bg {
        background: linear-gradient(to right, rgba(21, 22, 22, 1.0), rgba(21, 22, 22, 0.8)), url(images/what-i-learned-bg.png) no-repeat 100% 50%;
    }
    .pen-row-bg {
        height: 180px;
    }
    .pen-content {
        position: relative;
        height: 160px;
        width: 283.33px;
        right: 7%;
        top: -4%;
        border-radius: 16px;
    }
    .pen-bg {
        height: 160px;
        width: 283.33px;
        border-radius: 16px;
    }
    .code-row-bg {
        height: 180px;
        position: relative;
        top: -46%;
        right: 10%;
    }
    .code-content {
        position: relative;
        height: 160px;
        width: 283.33px;
        right: 7%;
        top: -4%;
        border-radius: 16px;
    }
    .code-bg {
        height: 160px;
        width: 283.33px;
        border-radius: 16px;
    }
    .arrow-gif {
        position: relative;
        right: -35%;
        top: -36%;
        width: 217.143px;
        height: 217.143px;
        transform: rotate(56.654deg);
        flex-shrink: 0;
    }
    .next-images {
        height: 400px;
    }
    .telescope {
        height: 121px;
        width: 145px;
    }
    .back-to-top {
        position: fixed;
        bottom: 2%;
        right: 2%;
    }
    .desk-menu {
        position: fixed;
        bottom: 12%;
        right: 2%;
    }
    .desk-menu-bg {
        border-radius: 24px;
        background: #151616;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        display: none;
    }
    #mob-menu {
        display: none;
    }
    #mobMenuBtn {
        display: none;
    }
}

@media (max-width:768px) {
    .text-mob-12 {
        font-size: var(--text-12);
    }
    .text-mob-14 {
        font-size: var(--text-14);
    }
    .text-mob-16 {
        font-size: var(--text-16);
    }
    .text-mob-20 {
        font-size: var(--text-20);
    }
    .text-mob-24 {
        font-size: var(--text-24);
    }
    .text-mob-28 {
        font-size: var(--text-28);
    }
    .text-mob-32 {
        font-size: var(--text-32);
    }
    .text-mob-40 {
        font-size: var(--text-40);
    }
    .text-mob-48 {
        font-size: var(--text-48);
    }
    .text-mob-56 {
        font-size: var(--text-56);
    }
    .text-mob-64 {
        font-size: var(--text-64);
    }
    .text-mob-80 {
        font-size: var(--text-80);
    }
    .hero-banner {
        background: linear-gradient(rgba(21, 22, 22, 0.6), rgba(21, 22, 22, 0.6)), url(images/blob-lines.png) no-repeat;
        background-size: cover;
    }
    .responsive-screens {
        height: 200px;
        width: 350px;
    }
    .logo-30 {
        height: 80px;
        width: 130px;
    }
    .on-light-bg {
        background: url(images/on-light-bg.png) no-repeat 50% 50%, linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 1.0));
        background-size: cover;
    }
    .on-dark-bg {
        background: linear-gradient(rgba(21, 22, 22, 0.6), rgba(21, 22, 22, 0.6)), url(images/on-dark-bg.png) no-repeat;
        background-size: cover;
    }
    .role-row-bg {
        height: 48px;
    }
    .role-content {
        position: relative;
        height: 44px;
        width: 137px;
        right: 16%;
        top: -10%;
    }
    .role-bg {
        height: 44px;
        width: 137px;
    }
    .roles-section {
        border-bottom: solid 1px var(--primary-60);
    }
    .figma {
        display: none;
    }
    .adobe {
        display: none;
    }
    .creative-logo {
        height: 200px;
        width: 200px;
    }
    #more {
        display: none;
    }
    .goal-card-bg {
        height: 260px;
        width: 200px;
    }
    .goal-number-bg {
        width: 80px;
        height: 80px;
        padding: 16px 16px;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 70px;
        background: var(--neutral-10, #FFF);
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        top: 50%;
        right: 0%;
        z-index: 50;
    }
    .goal-desc-bg {
        width: 350px;
        height: 180px;
        padding: 10px 24px;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: radial-gradient(54.18% 28.8% at 50% 111.2%, rgba(255, 255, 255, 0.20) 7.25%, rgba(255, 255, 255, 0.02) 95.43%), linear-gradient(0deg, rgba(128, 128, 128, 0.30) 0%, rgba(128, 128, 128, 0.30) 100%), rgba(0, 0, 0, 0.20);
        background-blend-mode: normal, luminosity, normal;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(50px);
        z-index: 20;
    }
    .goal-shape {
        fill: rgba(255, 255, 255, 0.80);
        width: 100px;
        height: 138px;
        flex-shrink: 0;
        position: relative;
        bottom: 55%;
        right: 0%;
        z-index: 0;
    }
    .color-1-row-bg {
        height: 170px;
        width: 150px;
    }
    .color-1-content {
        position: relative;
        height: 141px;
        width: 150px;
        right: 14%;
        top: -3%;
        border-radius: 16px;
    }
    .color-1-bg {
        height: 141px;
        width: 150px;
        border-radius: 16px;
    }
    .color-1-bottom-content {
        background-color: #D0D0D0;
        border-top: solid 1px var(--primary-60);
        padding: 4px 4px;
        border-radius: 0px 0px 16px 16px;
    }
    .button-dark-bg {
        background-color: #F5F5F5;
        padding: 16px;
        /* width: 520px; */
        border-radius: 16px;
    }
    .button-light-bg {
        background-color: var(--primary-60);
        padding: 16px;
        /* width: 520px; */
        border-radius: 16px;
    }
    .button-bg {
        padding: 8px 16px;
    }
    .desktop-video-bg {
        background: url(images/desktop-bg.png) no-repeat;
        background-size: cover;
        width: 320px;
        height: 183.24px;
    }
    .desktop-video {
        position: relative;
        right: -11%;
        top: 0%;
        width: 240px;
        height: 151px;
        /* height: 500px; */
    }
    .mobile-video {
        width: 171.58px;
        height: 350px;
        border-radius: 28px;
    }
    .sol-1-row,
    .sol-2-row,
    .sol-3-row,
    .sol-4-row {
        border: solid 1px var(--primary-60);
        border-radius: 16px;
    }
    .heading-row-bg {
        height: 48px;
    }
    .heading-content {
        position: relative;
        height: 44px;
        width: 137px;
        right: 14%;
        top: -10%;
    }
    .heading-bg {
        height: 44px;
        width: 137px;
    }
    .video-row-bg {
        height: 200px;
    }
    .video-content {
        position: relative;
        height: 167.83px;
        width: 340px;
        right: 5%;
        top: -5%;
        border-radius: 8px;
        object-fit: cover;
    }
    .video-bg {
        height: 167.83px;
        width: 340px;
        border-radius: 8px;
    }
    .sol-1-wrong-video {
        /* height: 312px; */
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
    .reason-before-row-bg {
        height: 100px;
    }
    .reason-before-content {
        position: relative;
        height: 100px;
        width: 340px;
        right: 5%;
        top: -5%;
        background-color: #FFEFEF;
        border: solid 1px #CD1313;
        border-radius: 8px;
    }
    .reason-before-bg {
        background-color: #CD1313;
        color: #CD1313;
        height: 100px;
        width: 340px;
        border-radius: 8px;
    }
    .reason-after-row-bg {
        height: 100px;
    }
    .reason-after-content {
        position: relative;
        height: 100px;
        width: 340px;
        right: 5%;
        top: -5%;
        background-color: #EEFBF4;
        border: solid 1px #0A7120;
        border-radius: 8px;
    }
    .reason-after-bg {
        background-color: #0A7120;
        color: #0A7120;
        height: 100px;
        width: 340px;
        border-radius: 8px;
    }
    .icon {
        height: 28px;
        width: 28px;
    }
    #sol1 {
        display: block;
    }
    #sol2,
    #sol3,
    #sol4 {
        display: none;
    }
    .pen-row-bg {
        height: 120px;
    }
    .pen-content {
        position: relative;
        height: 100px;
        width: 177px;
        right: 10%;
        top: -4%;
        border-radius: 16px;
    }
    .pen-bg {
        height: 100px;
        width: 177px;
        border-radius: 16px;
    }
    .code-row-bg {
        height: 120px;
        position: relative;
        top: -50%;
        right: 0%;
    }
    .code-content {
        position: relative;
        height: 100px;
        width: 177px;
        right: 10%;
        top: -4%;
        border-radius: 16px;
    }
    .code-bg {
        height: 100px;
        width: 177px;
        border-radius: 16px;
    }
    .arrow-gif {
        position: relative;
        right: -45%;
        top: -50%;
        width: 100px;
        height: 100px;
        transform: rotate(56.654deg);
        flex-shrink: 0;
    }
    .next-images {
        height: 220px;
    }
    .telescope {
        height: 121px;
        width: 145px;
    }
    .back-to-top {
        position: fixed;
        bottom: 2%;
        right: 2%;
        z-index: 150;
    }
    .desk-menu {
        display: none;
    }
    #mobMenuBtn {
        display: block;
        position: fixed;
        bottom: 15%;
        right: 2%;
        z-index: 100;
    }
}